.container {
  display: flex;
}

.formControl {
  width: 100%;
  margin-bottom: 30px !important;
}

.btn {
  height: 35px;
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
  border-radius: 10px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
